<div mat-dialog-content>
    <img src="./assets/icons/icon-tv-256.png" width="128" /><br />
    <h1 mat-dialog-title>About GG-Television</h1>
    <p>
        GG-Television is a video player application that provides support for the playback of Pỏn... 4fun :D
    </p>
    <p>Version: {{ appVersion }}</p>
    <p>
        <a href="https://github.com/iamdevtry" target="_blank" title="GG-Television repository on GitHub"
            aria-label="GG-Television repository on GitHub"><img src="./assets/icons/github-light.png"
                title="GG-Television repository on GitHub" /></a>
    </p>
</div>